* {
    box-sizing: border-box;
  }
  


   .sign-up-body {
    background: #f6f5f7;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    
    /* margin: -20px 0 50px; */
  } 